<div class="catalog">
    <h1>Carreras</h1>
    <button class="addButton" (click)="addMenuCarrera()">Añadir Carrera</button>
    <div class="AñadirFormulario" *ngIf="showMenu">
     <h3>Añadir Carrera</h3>
   <form>
    <label for="nombre">Nombre de la Carrera:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombreCarrera">
    <br>
    <label for="nombre">Lugar de la Carrera:</label>
    <input type="text" id="lugar" name="lugar" [(ngModel)]="lugar">
    <br>
    <label for="nombre">Distancia:</label>
    <input type="number" id="distancia" name="distancia" [(ngModel)]="distancia">
    <br>
    <label for="nombre">Fecha de Celebración:</label>
    <input type="date" id="fecha" name="fecha" [(ngModel)]="fechaCelebracion">
    <br>
    <button  (click)="addCarrera()">Guardar</button>
     </form>
       </div>

    <div class="Carreras" *ngFor="let Carrera of Carreras; let i = index" (click)="showOptions(i)">
      <h1>{{ Carrera.nombreCarrera }}</h1>
      <h2>{{ Carrera.lugar }}</h2>
      <p>⭐ Distancia: {{ Carrera.distancia }} Km</p>
      <p>⭐ Fecha de Celebración: {{ Carrera.fechaCelebracion }}</p>
  
     
      <div *ngIf="selectedIndex === i" class="options-menu">
        <button (click)="toggleEditForm(i)">Modificar</button>
        <button (click)="eliminarCarrera(i)">Eliminar</button>
      </div>
  
      <div *ngIf="editingIndex === i" class="edit-form">
        <label for="nombreCarrera">Nombre Carrera:</label>
        <input [(ngModel)]="Carrera.nombreCarrera" id="nombreCarrera" type="text" />
  
        <label for="lugar">Lugar:</label>
        <input [(ngModel)]="Carrera.lugar" id="lugar" type="text" />
  
        <label for="distancia">Distancia (Km):</label>
        <input [(ngModel)]="Carrera.distancia" id="distancia" type="number" />
  
        <label for="fechaCelebracion">Fecha de Celebración:</label>
        <input [(ngModel)]="Carrera.fechaCelebracion" id="fechaCelebracion" type="date" />
  
        <!-- Botones para guardar o cancelar -->
        <button (click)="guardarCambios(i)">Guardar</button>
        <button (click)="cancelarEdicion()">Cancelar</button>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </div>
      
    </div>
  </div>
  
  