
<div class="formulario-registro">

    <input type="text" id="nombre" [(ngModel)]="nombre" name="username" placeholder="Nombre" required />
    <br>
    <input type="text" id="apellido" [(ngModel)]="apellido" name="username" placeholder="Apellido" required />
    <br>
    <input type="text" id="nombreusuario" [(ngModel)]="nombreusuario" name="username" placeholder="Nombre de Usuario" required />
    <br>
    <input type="text" id="contraseña" [(ngModel)]="contrasena" name="username" placeholder="Contraseña" required />
    <br>
    <input type="password" placeholder="Confirmar Contraseña" />
    <br>
    <input type="text" id="email" [(ngModel)]="email" name="username" placeholder="Correo Electrónico" required />
    <br>
    <button (click)="register()">Registrarse</button>
    
    <p *ngIf="resultMessage" class="error">{{ resultMessage }}</p>

</div>
