main{
align-items: center;

}

.ContainerTitle {
  background-color: #FF8C00; /* Naranja */
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.ContainerTitle h1 {
  margin: 0;
  font-size: 28px;
}

.ContainerTitle h2 {
  margin: 0;
  font-size: 18px;
}

/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 50px; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #FF8C00; /* Cambio de color al pasar el ratón */
  transition: color 0.3s ease;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  width: 100%;
  background: linear-gradient(45deg, #FFDAB9, #FFB84D, #FF8C00);
}

.relojes, .carreras, .zapatillas {
  color: black;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  margin-bottom: 10px; 
  height: 310px;
  width: 300px;
  margin-top: 50px;
  transition: transform 1s ease-in-out; 
}

.relojes:hover, .carreras:hover, .zapatillas:hover {
  transform: scale(1.2);
}

.relojes {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/gpr-h1000-9-kv.avif');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.zapatillas {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/zapatillasCorrer.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.carreras {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/CarreraImagen.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.tienda {
  height: 1050px;
  width: 1000px;
  margin-right:1400px;
  background-color: #FF8C00; 
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-image:  url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/TiendaOnline.jpeg'); ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  margin-top: 50px;
  transition: transform 1s ease-in-out; 
}

.tienda:hover {
  transform: scale(1.07);
}




