

<div class="main">
<div class="navbar1">
    <div class="navbar-links">
      <a href="/contacto">Contacto</a>
      <a href="/Redes Sociales">Redes Sociales</a>
      <a href="/TuCuenta">Tu Cuenta</a>
    </div>
  </div>

<div class="ContainerTitle">
    <h1>ForRunnerS</h1>
    <div><h2>La comunidad de corredores de ESPAÑA</h2></div>
    <div><h2>Carrito</h2></div>
</div>
<div class="ContainerBanner">
</div>
<div class="navbar">
    <div class="navbar-logo">
        <img src="https://www.freepnglogos.com/uploads/running-png/running-png-clipart-1.png" alt="logo" />
    </div>
    <div class="navbar-links">
      <a href="/inicio">Inicio</a>
      <a href="/tienda">Tienda</a>
      <a href="/carreras">Carreras</a>
      <a href="/zapatillas">Zapatillas</a>
      <a href="/relopjes">Relojes</a>
    </div>
  </div>
<div class="container">
    <div class="relojes" [routerLink]="['/relojes-componente']">Top Relojes Deportivos</div>
    <div class="carreras" [routerLink]="['/carreras-componente']">Top Carreras populares</div>
    <div class="zapatillas" [routerLink]="['/zapatillas-componente']">Top Zapatillas Running</div>
    <div class="tienda" [routerLink]="['/zapatillas-componente']">Tienda Online</div>
  </div>
</div>