
.main {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100vh;
  align-items: center;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #333;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #FF8C00;
  transition: color 0.3s ease;
}

.ContainerTitle {
  text-align: center;
  background-color: #FF8C00;
  color: black;
  padding: 20px;
  width: 100%;
}

.ContainerTitle h1 {
  margin: 0;
  font-size: 36px;
}

.ContainerTitle h2 {
  margin: 5px 0;
  font-size: 20px;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-logo img {
  width: 50px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #FF8C00;
  transition: color 0.3s ease;
}


.main2 {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 80%;
  margin-top: 30px;
}


.container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 30%; 
}

/* Estilos individuales de los productos */
.relojes, .carreras, .zapatillas, .tienda {
  color: black;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
  height: 250px;
  width: 75%; 
  background-size: cover;
  background-position: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.relojes {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/gpr-h1000-9-kv.avif');
}

.zapatillas {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/zapatillasCorrer.webp');
}

.carreras {
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/CarreraImagen.webp');
}

.tienda{
  background-image: url('C:/Users/YerayPatricia/source/repos/ForRunnerS/src/Imagenes/TiendaOnline.jpeg');
  width: 100%;
  height: 900px;
} 

.relojes:hover, .carreras:hover, .zapatillas:hover {
  transform: scale(1.1); /* Agrandar en hover */
}

/* Contenedor de la tienda */
.container2 {
  display: flex;
  justify-content: center;
  width: 60%; /* El contenedor de la tienda ocupa un 60% del ancho */
}



.tienda:hover {
  transform: scale(1.07);
}
